.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #bec9de;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  padding: 50px 20% 50px 20%;
  background-color: #f5f7fa;
}

.result .react-json-view {
  padding-bottom: 10px;
}

.form .form-group.field .row.array-item-list .array-item {
  border: 1px solid #e5e5e5;
  display: flex;
  position: relative;
  padding: 20px 10px 0px 10px;
  border-radius: 6px;
  margin-left: 15px;
  margin-bottom: 20px;
  width: calc(100% - 30px);
}

.form .footer button {
  min-width: 140px;
}

.form .footer .back-panel {
  padding-left: 0;
}

.form .footer .submit-panel {
  text-align: right;
  padding-right: 0;
}